@mixin mob-set {
  body {
    text-align: center;
  }

  .content-container {
    width: $mob-width;
  }

  .content-container2 {
    width: $mob-width;
    flex-direction: column;
  }

  header {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: small;

    h1,
    nav {
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }

  th,
  td {
    font-size: small;
  }

  .home-article {
    margin-top: $home-top-margin;
  }
}
