html {
    box-sizing: border-box; //content-box
    font-family: Arial, Courier, monospace;

body {
    margin: 0;
    main {
        display: block;
      }
      
    h1 {
        font-size: 2em;
        margin: 0.67em 0;
      }  
     
    a {
        background-color: transparent;
      }  

    img {
        border-style: none;
      }
  }

}