@mixin table-set {
  max-width: 75%;
  margin: 0 auto;
  caption {
    font-weight: bold;
    text-transform: uppercase;
  }
  thead {
    background: $background-color;
  }
  tbody {
    background: $background-color3;
    .darker {
      background: $background-color;
    }
    a {
      font-weight: bold;
      color: $text-primary;
      text-decoration: none;
    }
  }
}
