@import "variables";
@import "resets";
@import "mob-set";
@import "content-set";
@import "table-set";
@import "figure-set";
@import "navbar-set";
@import "media-set";


/* global */
body {
  background: $background-gradient,
    url("../assets/smultron_pixmedium.png") center center;
  color: $text-primary;
}

h1,
h2,
h3 {
  font-family: $future-fonts;
}

/* element-specific */
table {
  @include table-set;
}

figure {
  @include figure-set;
}

.backtotop {
  color: $text-primary;
  font-weight: bold;
}

.content-container {
  @include content-set;
}

.content-container2 {
  @include content-set;
  display: flex;
  border-bottom: 3px solid $accent-color2;
}

.special {
  border-bottom: 3px solid $accent-color2;
}

.sub-container {
  padding: 5px;
}

header {
  width: 100%;
  position: absolute;
  @include navbar-set;
  
}

.home-article {
  margin-top: $home-top-margin;
}

footer {
  width: inherit;
  background-color: $background-color;
  opacity: 0.9;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

a:focus {
  font-style: italic;
  font-weight: 900;
  font-size: 1.1em; 
} 

@include media-set;


/* 
@media (hover: hover) {
  a:hover {
    color: $highlight-color;
  }
}

@media screen and (max-width: 750px) {
  @include mob-set;
}

@media screen and (max-width: 450px) {
  @include mob-set;

  iframe {
    width: 100%;
    height: auto;
  }
}
 */