@import 'variables';
@import 'resets';

/* temporary to visualize box borders */
* {
    border: 1px solid transparent;
}
/* temporary end */
h1,h2, h3 {
    font-family: $future-fonts;
}

a, .bold {
    font-weight: bold;
}

table {
    thead {
        background: $background-color;
    }
    tbody {
        background: $background-color2;
    }
}

body {
    margin: auto;
    background: $background-gradient, url("../assets/h2_wildstraw.png") center center;
    font-family: $special-fonts;
}

.container {
    display: grid;
    font-size: 1rem;
    color: $text-primary;
    //width: 100%; // this (<100%) plus margin 0 (top, bottom) auto (left, right) to center content in body horizonatally 

    //gap: 0.5rem;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:    "head head"
                            "main main"
                            "team team"
                            "video video"
                            "details1 details2"
                            "services services" 
                            "foot foot";
    
}

header {
   
    grid-area: head;
   
    width: inherit; //to inherit width value body parent
    position: fixed; //locks it in-place, ie always at top of visible area, regardless of scroll position
    top: 0;
    min-height: $nav-height; 

    nav {
        background-color: $background-color;
        opacity: 0.9;

        ul {
            list-style-type: none;
            display: flex;
        }

        li {
            //float: left;
            //margin-left: 1em;
            margin-right: 1em; //top/ bottom 0, left/ right 10px?
        }

        a {
            //display: block;
            text-decoration: none;
            color: $accent-color;
            font-family: $special-fonts;
            font-size: 1.5em;
            //margin: 0 1em 1em 1em;
        }

        .right-item {
            margin-left: auto;
            margin-right: 2em;
        } 

    }    
}

    .main-section {
        margin-top: $nav-height;
        grid-area: main;
    }

    .details-part1  {
        grid-area: details1;
    }

    .details-part2 {
        grid-area: details2;
    }

    .video {
        grid-area: video;
    }

    .services {
        grid-area: services;
    }

    .team-section {
        grid-area: team;
        img {
            max-height: auto;
            width: 20%; 
         }
    }

footer {
    grid-area: foot;
}

@media screen and (max-width: 800px) {
    body {
      width: 100%;
    }

    .container {
        grid-template-areas: "head head"
                             "main main"
                             "team team"
                             "video video"
                             "details1 details1"
                             "details2 details2"
                             "services services" 
                             "foot foot";
    }

  }