@import "variables";
@import "resets";
@import "mob-set";
@import "content-set";


/* global */
body {
  background: $background-gradient,
    url("../assets/h2_wildstraw.png") center center;
  color: $text-primary;
}

h1,
h2,
h3 {
  font-family: $future-fonts;
}

a,
.bold {
  font-weight: bold;
  background: $background-color;
}

table {
  max-width: 75%;
  margin: 0 auto;
  thead {
    background: $background-color;
  }
  tbody {
    background: $background-color3;
  }
}

figure {
  max-width: 75%;
  margin: 0 auto;

  img {
    max-height: auto;
    min-width: 300px;
    max-width: 100%;
  }
}

.backtotop {
  color: $text-primary;
  font-weight: bold;
}

.content-container {
  /* width: $std-width;
  height: auto;
  margin: auto;
  overflow: hidden;
  font-size: $normal-font;
  background: $background-color2; */
  @include content-set;
}

.content-container2 {
  /* width: $std-width;
  height: auto;
  margin: auto;
  overflow: hidden;
  font-size: $normal-font;
  background: $background-color2; */
  @include content-set;
  display: flex;
  border-bottom: 3px solid $accent-color2;
}

.sub-container {
  padding: 5px;
}

header {
  width: 100%;
  position: absolute; //locks it in-place, ie always at top of visible area, regardless of scroll position
  top: 0;
  //min-height: $nav-height;
  background-color: $background-color;

  h1 {
    float: left;
    padding-left: $nav-padding;
  }
  nav {
    float: right;
    opacity: 0.9;
    margin-top: $nav-top-margin;

    ul {
      margin: 0; /* reduce area around text to minimum */
      padding: 0; /* to minimum */
      list-style-type: none;
    }

    li {
      display: inline;
      padding-right: $nav-padding;
    }

    a {
      //display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: $accent-color;
      font-family: $special-fonts;
      font-size: $normal-font;
    }

    .right-item {
      margin-right: 0;
    }
  }
}

.home-article {
  margin-top: $home-top-margin;
}

footer {
  width: inherit;
  background-color: $background-color;
  opacity: 0.9;
  //position: fixed; //locks it in-place, ie always at top of visible area, regardless of scroll position
  //bottom: 0;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

a:hover {
    color: $highlight-color;
  }

@media screen and (max-width: 750px) {
  @include mob-set;
}

@media screen and (max-width: 450px) {
  @include mob-set;

  iframe {
    width: 100%;
    height: auto;
  }
}
