body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    /*grid-template-columns: 4fr 2fr 1fr; */

}

header{
    grid-column: 1 / 4; /* seems to be inclusive to non-inclusiv */
    grid-row: 1;
    background-color: green;
}

article {
    grid-column: 2;
    grid-row: 2;
    background-color: silver;
}

.aside-left {
    grid-column: 1;
    grid-row: 2;
    background-color: royalblue;
}

.aside-right {
    grid-column: 3;
    grid-row: 2;
    background-color: royalblue;
}

footer {
    grid-column: 1 / 4;
    grid-row: 3;
    background-color: red;
    text-decoration: none;

}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    content: "--";
    
}

li a {
    text-decoration: none;
}


